@model Joy.PIM.BAL.Model.Email.EmailContents

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <pre>
         @Model.EmailContent
    </pre>
    </div>
</body>
</html>