<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <h2>Reset Password URL: </h2>
    <a href="https://hcpimdev.b2clogin.com/hcpimdev.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_ForgotPassword&client_id=34b8235c-6ce2-4e64-9768-559e3ef2b313&nonce=defaultNonce&redirect_uri=https://lmrkapppoc.z29.web.core.windows.net/logout&scope=openid&response_type=id_token&prompt=login">Reset Password</a>
</body>
</html>