@model Joy.PIM.BAL.Model.Email.UserInviteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <pre>
        UserName: @Model.Email <br/>
        Password: @Model.Password <br/>
        Login Url: @Model.LoginUrl
    </pre>
</div>
</body>
</html>